* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, * before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

.binary {
  min-height: 920px;
  background-image: url('../img/about/1.png');
}

.header__title {
  color: #fff;
  z-index: 100;
  background-image: url('../img/about/2.png') 30px 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 70px;
  text-align: center;
  padding: 80px;
}
.header__subtitle {
  text-align: center;
}
.header__subtitle-title {
  color: #fff;
  letter-spacing: 4px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 20px;
}
.header__subtitle-text {
  letter-spacing: 2px;
  font-weight: 400;
  word-spacing: 7px;
  color: #fff;
}
.header__subtitle-text:after{
  content: '';
  background: #fff;
  position: absolute;
  height: 1px;
  width: 70px;
  margin: 50px 0px 0px -180px;
}


.real{
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 40px;
  left: 728px;
  top: 700px;
  position: absolute;
  border: 1px solid #fff;
  text-decoration: none;
}
.real:hover{
  text-shadow: 2px 2px 1px #000;
  color: #A9A9A9;
  border: 1px solid #A9A9A9;
}



.menu__block {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  border: 2px solid #f2f2f2;
}

.menu__knopka {
  margin: 0px 20px 0 50px;
  color: #3c3c3c;
  text-decoration: none;
}

.menu__knopka:hover{
  color: #ada074;
}


.about {}
.about__block {}
.about__header {}
.title1{
  font-weight: 700;
  margin: 200px 0 0 0;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
.title1:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 70px;
  background: black;
  margin: 70px 0 0 -105px;
}

.about--text {
  color: #a6a6a6;
  line-height: 23px;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
  margin: 60px auto;
  max-width: 820px;
}
.about__row {
  text-align: center;
  margin: 0px auto;
  max-width: 980px;

}
.about__colum {
  margin: 0 0 0 80px;
  display: flex;
}
.about__colum-1 {

}
.about--title {
  margin: 20px 0 0 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;

}
.about-text {
  color: #a6a6a6;
  margin: 15px 0 0 0;
  font-weight: 200;
  font-size: 12px;
}

.text-1 {
 padding: 0 30px;
}


.portfolio {
  top: 200px;
  position: relative;
  background: #f3f3f3;
}
.portfolio__block {
  min-height: 1400px;
}

.portfolio__title {
  font-weight: 700;
  padding: 100px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

.portfolio__title:after{
  content: '';
  margin: 0 0px 0 -40px;
  top: 170px;
  left: 50%;
  width: 70px;
  height: 1px;
  position: absolute;
  background: black;
}

.portfolio__menu {
  font-weight: 700;
  font-size: 12px;
  word-spacing: 40px;
  text-transform: uppercase;
  margin: -30px 0 0 0;
  text-align: center;
}
.p-menu {
  color: #6a6a6a;
  text-decoration: none;
}

.p-menu:hover{
  color: #ada074;
}

.portfolio__body {
  margin: 100px 0 0 255px;
  max-width: 800px;
}
.png-1 {
  margin: 0px 0px 0 20px;
  max-width: 500px;
  display: flex;
}
.png-3 {
  margin: 20px 0 0 20px;
  max-width: 500px;
  display: flex;
}
.png-2 {
  margin: 30px 0 0 20px;
  max-width: 500px;
  display: flex;
}

.portfolio__button {
  cursor: pointer;
  color: #A9A9A9;
  margin: -70px 0 0 0;
  position: absolute;
  left: 720px;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 40px;
  text-align: center;
  max-width: 400px;
  border: 1px solid #A9A9A9;
}

.portfolio__button:hover{
  background: black;
  text-shadow: 2px 2px 1px #fff;
  color: #A9A9A9;
  border: 1px solid #808080;
}

.submit {
}

.our {}
.our__block {}
.our__img {}
.our__title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin: -240px 0 0 0;
}
.our__icon {
  margin: 40px 0 0 580px;
}

.imege {

}

.netflix {
  opacity: 50%;
  margin: 0 40px 0 -40px;
}

.netflix:hover{
  opacity: 100%;
}


.adidas {
  opacity: 50%;
  margin: 0px 0 50px 0;
}

.adidas:hover{
  opacity: 100%;
}


.apple {
  opacity: 50%;
  margin: 0 0 30px 30px;
}

.apple:hover{
  opacity: 100%;
}


.miki {
  opacity: 50%;
  margin: 0 0 10px 40px;
}


.miki:hover{
  opacity: 100%;
}

.contact {
  margin: 200px 0 0 150px;
}
.contact__block {}
.contact-title {
  margin: 0 140px 0 0;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.contact-title:after{
  position: absolute;
  margin: 70px 0px 0 -37px;
  left: 50%;
  content: '';
  width: 70px;
  background-color: black;
  height: 1px;
}
.contact__body {}
.body__title-1 {
  margin: 100px 0 0 200px;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}
.text-p-1 {
  margin: 0 150px 0 0 ;

}
.title-1 {
  background: #f3f3f3;
  padding: 10px 0;
  margin: 4px 60px 0 200px;
  border-top: 1px solid #000;
}
.text-p-2 {}
.title-2 {
  background: #f3f3f3;
  padding: 10px 0;
  margin: 4px 60px 0 00px;
  border-top: 1px solid #000;
}


.body__title-2 {
  margin: 100px 0 0 200px;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.title-3{
  min-width: 400px;
  min-height: 100px;
  background: #f3f3f3;
  padding: 10px 0;
  margin: 4px 60px 0 200px;
  border-top: 1px solid #000;
}
.send__text {
  cursor: pointer;
  left: 715px;
  margin: 140px 0 0 0px;
  position: absolute;
}
.send__text:hover{
  color:#ada074;
}
.text-p-3 {}
.text__info {
  line-height: 23px;
  font-size: 13px;
  max-width: 500px;
  margin: -284px 0 0 0;
  left: 870px;
  position: absolute;
}
.fot__text {}
.name {
  margin: 30px 0 0 0;
  font-weight: 700;
}

.logo{
  margin: 10px 0 0 0;
  display: flex;
}

.logo-1{
  border-radius: 50%;
  font-weight: 700;
  padding: 5px 13px;
  border: 3px solid#000;
  margin: 0 20px 0 0;
  font-size: 20px;
}

.logo-2 {
  font-size: 20px;
  border-radius: 50%;
  font-weight: 700;
  margin: 0 20px 0 0;
  padding: 5px 8px;
  border: 3px solid #000;
  display: inline-block;
}


.mail{
  opacity: 50%;
  color: black;
  text-decoration: none;
  position: absolute;
  margin: 50px 0px 0 0;
}

.mail:hover{
  text-decoration: underline;
  opacity: 100%;
}

.footer__title {
  color: white;
  margin: 100px 0 0 0;
  min-height: 150px;
  background: #3c3c3c;
}
.footer-logo {
  font-family: 'Josefin Sans', sans-serif;
  left: 755px;
  font-size: 40px;
  margin: 30px 0 0 0;
  position: absolute;
  text-align: center;
  letter-spacing: 3px;
}
.silka__block {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  word-spacing: 30px ;
  left: 660px;
  margin: 75px 0 0 0;
  position: absolute;
}
.silka {
  opacity: 20%;
  text-decoration: none;
  color: white;
}

.silka:hover{
  transition: all 0.5s;
  opacity: 80%;
}

.text__footer {
  margin: 100px 0 0 0;
  left: 740px;
  position: absolute;
  text-align: center;
  opacity: 20%;
  font-size: 12px;
}